a:link {
	text-decoration: none;
}

a:hover {
	color: #148f77;
}

.leftmenu {
	padding-top: 20px;
	font-family: 'Varela Round', sans-serif;
	font-size: 15px;
	height: 100%;
	border-right: 2px solid #eeeeee;
}

.leftmenugroup {
	font-size: 18px;
	font-weight: bold;
}

.leftmenuitem {
	vertical-align: middle;
	padding: 10px 5px 10px 5px;
}

.convicon {
	font-size: 20px;
}

.icon_green {
	color: #abebc6;
}

.icon_yellow {
	color: #f9e79f;
}

.icon_purple {
	color: #c39bd3;
}

.icon_red {
	color: #e6b0aa;
}

.icon_blue {
	color: #a9cce3;
}

.icon_orange {
	color: #fad7a0;
}