.top-menu {
    height:200px;
}

.top-menu-searchbar {
    margin: 60px 0 0 0;
    padding:7px;
    height:40px;
    width: 90%;
    border-radius: 10px;
    font-size:15px;
}

.top-logo {
    width:175px;
}

.top-menu-headertext {
    color:  #148f77  ;
    margin-left:-50px;
    font-size:36px;
    font-family: 'Varela Round', sans-serif;
    font-weight:bold;
}