.top-menu {
    paddin: 0px;
    height:160px;

}

.top-menu-searchbar {
    padding:7px;
    height:55px;
    width: 400px;
    border-radius: 20px;
}

.top-logo {
    width:175px;
}

.top-menu-headertext {
    color:  #148f77  ;
    margin-left:-50px;
    font-size:37px;
    font-family: 'Varela Round', sans-serif;
}